.Serkisample {background-color: palevioletred;
    border: solid 10px black;
    height: 50px;
    width: 200px;
    padding: 0 240px;
    margin-left: 450px;
}
.blue {
    background-color: aqua;
    text-align: center;
    padding: 20px 50px;
}